{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V16</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
    {% load static %}
	<link rel="icon" type="image/png" href=" {% static '/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
<!--===============================================================================================-->
<style>
    .wrap-input100 {padding:15px 0}
</style>

</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url({% static '/images/bg-01.jpg'%})">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span style="letter-spacing: 5px" class="login100-form-title p-b-41">
					Register
				</span>
                  <form method="post" class="login100-form validate-form p-b-33 p-t-5">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="wrap-input100 validate-input">
                        {% for error in field.errors %}
                          <p style="color: red;text-align: center;">{{ error }}</p>
                        {% endfor %}
                            {% if field.name == "username" %}
                                    {% render_field field class="input100" placeholder="Username" %}
                            {% elif field.name == "first_name" %}
                                    {% render_field field class="input100" placeholder="First Name" %}
                            {% elif field.name == "last_name" %}
                                    {% render_field field class="input100" placeholder="Last Name" %}
                            {% elif field.name == "email" %}
                                    {% render_field field class="input100" placeholder="Email" %}
                            {% elif field.name == "password1" %}
                                    {% render_field field class="input100" placeholder="Password" %}
                            {% elif field.name == "password2" %}
                                    {% render_field field class="input100" placeholder="Comfirm you Password" %}
                            {% endif %}

                            <span class="focus-input100"></span>
                        </div>


                    {% endfor %}
                      <div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn" style="letter-spacing: 2px" type="submit">
							Register
						</button>
					</div>
                  </form>
                <div style="text-align: center;margin-top:20px;"><a style="font-family: Ubuntu-Bold;font-size: 18px;color: #fff;" href="{% url 'djconnect:user_login' %}">LOGIN</a></div>
			</div>
		</div>

	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static '/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static '/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static '/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/js/main.js'%}"></script>

</body>
</html>

